<!-- Footer -->
<footer class="page-footer font-small grey lighten-1 mt-5">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center py-2">

      <!-- Grid column -->
      <div class="col-lg-3">
        <!--<h6 class="text-uppercase font-weight-bold">-->
          <!--<a href="#!">Se connecter</a>-->
        <!--</h6>-->

        <a class="btn btn-outline-white btn-sm rounded" routerLink="auth">
          Se connecter
          <i class="fa fa-user ml-1" aria-hidden="true"></i>
        </a>

      </div>
      <!-- Grid column -->
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="rgba-white-strong" style="margin: 0 15%;">

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-1 ">

      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-3">
        <p style="line-height: 1.7rem">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
          eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
          voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <!--<hr class="clearfix d-md-none" style="margin: 10% 15% 5%;">-->

    <!-- Grid row-->
    <!--<div class="row pb-3">-->

      <!-- Grid column -->
      <!--<div class="col-md-12">-->

        <!--<div class="mb-5 flex-center">-->

          <!--&lt;!&ndash; Facebook &ndash;&gt;-->
          <!--<a class="fb-ic">-->
            <!--<mdb-icon icon="facebook" size="lg" class="white-text mr-4"></mdb-icon>-->
          <!--</a>-->
          <!--&lt;!&ndash; Twitter &ndash;&gt;-->
          <!--<a class="tw-ic">-->
            <!--<mdb-icon icon="twitter" size="lg" class="white-text mr-4"></mdb-icon>-->
          <!--</a>-->
          <!--&lt;!&ndash; Google +&ndash;&gt;-->
          <!--<a class="gplus-ic">-->
            <!--<mdb-icon icon="google-plus" size="lg" class="white-text mr-4"></mdb-icon>-->
          <!--</a>-->
          <!--&lt;!&ndash;Linkedin &ndash;&gt;-->
          <!--<a class="li-ic">-->
            <!--<mdb-icon icon="linkedin" size="lg" class="white-text mr-4"></mdb-icon>-->
          <!--</a>-->
          <!--&lt;!&ndash;Instagram&ndash;&gt;-->
          <!--<a class="ins-ic">-->
            <!--<mdb-icon icon="instagram" size="lg" class="white-text mr-4"></mdb-icon>-->
          <!--</a>-->
          <!--&lt;!&ndash;Pinterest&ndash;&gt;-->
          <!--<a class="pin-ic">-->
            <!--<mdb-icon icon="pinterest" size="lg" class="white-text mr-4"></mdb-icon>-->
          <!--</a>-->

        <!--</div>-->

      <!--</div>-->
      <!-- Grid column -->

    <!--</div>-->
    <!-- Grid row-->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright :
    <a routerLink="home"> GlouTon</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
